<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.memia/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.memia.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Project.browse" caption="msg://com.company.memia.screen.project/projectBrowse.menu"/>
        <item screen="Task_.browse" caption="msg://com.company.memia.screen.task/taskBrowse.menu"/>
    </menu>

</menu-config>